<head>
    <title>Minecraft Server Status</title>
    <style>
        .hidden {
            display: none;
        }
        .loading {
            background-color: grey;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function retryServer(maxTries, iter = 0) {
            $.getJSON("status", function(data) {
                // If data contains error text, retry
                if (iter == maxTries) {
                    $(".loadStatus").text("Failed to start server.");
                    $("button").attr("disabled", false);
                    $(".retryCounter").text("");
                } else if (data.ErrorText != "") {
                    $(".retryCounter").text(`(${iter} attempt(s) to reach the server)`);
                    setTimeout(function() {
                        retryServer(maxTries, iter+1);
                    }, 1000);
                } else {
                    $(".loadStatus").text("Started server!");
                    $("button").attr("disabled", false);
                    $(".retryCounter").text("");
                    refresh();
                }
            });
        }
        function refresh() {
            $(".reloader").addClass("hidden");
            $("#status").addClass("loading");
            $.getJSON("status", function(data) {
                $(".error").addClass("hidden");
                $(".isOnline").addClass("hidden");
                $(".numPlayersOnline").addClass("hidden");
                $(".serverStarter").addClass("hidden");
                if (data.ErrorText != "") {
                    $(".error").text(data.ErrorText);
                    $(".error").removeClass("hidden");
                    $(".serverStarter").removeClass("hidden");
                } else if (data.IsOnline) {
                    $(".isOnline").text("Minecraft server is online.");
                    $(".numPlayersOnline").text(`${data.NumPlayersOnline} player(s) online right now.`);
                    $(".isOnline").removeClass("hidden");
                    $(".numPlayersOnline").removeClass("hidden");
                } else {
                    $(".isOnline").text("Minecraft server is offline.");
                    $(".isOnline").removeClass("hidden");
                    $(".serverStarter").removeClass("hidden");
                }
                $(".playersOnline").empty();
                console.log(data.PlayersOnline);
                $.each(data.PlayersOnline, function(index, value) {
                    $(".playersOnline").append(`<li>${value}</li>`);
                });
                // Change the p under status to "Loaded!"
                $(".loadStatus").text("Loaded!");
                $(".reloader").removeClass("hidden");
                $("#status").removeClass("loading");
            });
        }
        function checkHost() {
            $.getJSON("host-healthcheck", function(data) {
                if (data.IsAlive) {
                    $(".hostStatus").text("Minecraft host is online.");
                } else {
                    console.log(data);
                    $(".hostStatus").text("Could not contact Minecraft host; attempts to start the server probably won't work. Retrying in 5 seconds...");
                }
            });
        }
        $(document).ready(function() {
            refresh();
            $(".reloader").click(function() {
                $(".loadStatus").text("Loading...");
                refresh();
            });
            $(".serverStarter").click(function() {
                var timeToLoad = 30;
                $(".loadStatus").text(`Starting server (may take around ${timeToLoad}s)`);
                $("button").attr("disabled", true);
                $.getJSON("start", function(data) {
                    retryServer(timeToLoad * 2);
                });
            });
            checkHost();
            window.setInterval(checkHost, 5000);
        });
    </script>
</head>
<body style="display:flex; justify-content:center; align-items:center;">
    <div id="main" style="display:flex; justify-content:center; align-items:center;">
        <div id="content" style="border:1px solid grey; max-height: 500px; max-width: 800px; padding: 10px;">
            <h2>Minecraft Server Status</h2>
            <div id="status" class="loading" style="border-top: 2px grey solid; margin-top 60px;">
                <h3>minecraft.adam0.net</h3>
                <p class="loadStatus">Loading...</p>
                <p class="retryCounter"/>
                <p class="error" style="color: red;" class="hidden"></p>
                <p><button class="serverStarter hidden">Start Server</button></p>
                <p><button class="reloader hidden">Refresh Status</button></p>
                <p class="hostStatus"/>
                <p class="isOnline" class="hidden"></p>
                <p class="numPlayersOnline" class="hidden"></p>
                <ul class="playersOnline">
                </ul>
            </div>
        </div>
    </div>
</body>
